@font-face{
  font-family: "HelveticaNeue-light";
  src: url("../font/HelveticaNeueCyr-Light.ttf") format("ttf"),
}
@font-face{
  font-family: "HelveticaNeue-thin";
  src: url("../font/HelveticaNeueCyr-Thin.ttf") format("ttf"),
}