body {
  background: #fff;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background: url(../upload/hand.jpg) no-repeat;
  background-size: cover;
}

.logo img {
  padding: 102px 0 46px 0;
}

.header_title {
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 1px #201513;
  line-height: 30px;
}

.header_button {
  width: 140px;
  height: 54px;
  border: none;
  background: #f12078;
  color: #fff;
  font-style: 18px;
  font-weight: 700;
  margin: 39px 0 180px 0;
  box-shadow: 0 1px 1px #383433, -1px 0 1px #625047;
}

.header_button:hover {
  opacity: 0.8;
}

.margin_left {
  margin-left: 560px;
}

@media screen and (max-width: 950px) {
  .margin_left {
    margin-left: 30px;
  }
}