/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "HelveticaNeue-light";
  src: url("../font/HelveticaNeueCyr-Light.ttf") format("ttf"),
}

body {
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background: url(../upload/hand.jpg) no-repeat;
  background-size: cover;
}

.logo img {
  padding: 102px 0 46px 0;
}

.logo img:hover {
  opacity: 0.8;
}

.header_title {
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 1px #201513;
  line-height: 30px;
}

.button {
  border: none;
  background: #f12078;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-shadow: 0 1px 1px #383433, -1px 0 1px #625047;
  box-shadow: 0 1px 1px #383433, -1px 0 1px #625047;
}

.header_button {
  width: 140px;
  height: 54px;
  margin: 39px 0 180px 0;
}

.button:hover {
  opacity: 0.8;
}

.margin_left {
  margin-left: 560px;
}

.content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content_items {
  position: relative;
  top: -44px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content_items_item {
  width: 220px;
  padding: 20px;
  margin-left: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e8e8e8, -1px 0 0 #e8e8e8;
  box-shadow: 1px 0 0 #e8e8e8, -1px 0 0 #e8e8e8;
}

.content_items_item_img {
  -webkit-filter: contrast(0.4);
  filter: contrast(0.4);
}

.content_items_item_title {
  font-size: 16px;
  color: #c6c6c6;
  border-bottom: 2px solid #c6c6c6;
  padding: 14px 0;
  font-weight: 700;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

.content_items_item_title span {
  font-weight: normal;
}

.content_items_item_text {
  font-size: 12px;
  line-height: 16px;
  color: #8e8e8e;
  padding-top: 15px;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

.content_button {
  width: 168px;
  height: 53px;
  margin: 49px 0 0 0;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

.content_items_item:hover {
  top: -63px;
  position: relative;
}

.content_items_item:hover .content_items_item_img {
  -webkit-filter: none;
  filter: none;
}

.content_items_item:hover .content_items_item_title {
  color: #171717;
  border-bottom: 2px solid #f5227d;
}

.content_items_item:hover .content_items_item_text {
  color: #5f5f5f;
}

.promo {
  background: url(../upload/phones.jpg) no-repeat;
}

.promo_items {
  width: 460px;
  margin: 40px 0 52px;
}

.promo_items_item_title {
  color: #2e2e2e;
  font-size: 24px;
  font-weight: 700;
  margin: 35px 0 25px;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

.promo_items_item_title span {
  font-weight: normal;
}

.promo_items_item_text {
  color: #5e5e5e;
  font-size: 14px;
  line-height: 20px;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1020px) {
  .content_items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content_items_item {
    margin-bottom: 50px;
  }
  .promo {
    background: #fff;
  }
}

.footer_container {
  border-top: 2px solid #1d1e22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_item {
  padding: 23px 0 19px;
}

.footer_item_text {
  color: #2e2e2e;
  font-size: 12px;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

.footer_item_text a {
  color: #ee1f75;
  font-family: "HelveticaNeue-light", Arial, Helvetica, sans-serif;
}

.footer_item_text a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 950px) {
  .container {
    width: 80%;
  }
  .header {
    background: url(../upload/hand-small.jpg) no-repeat;
  }
  .margin_left {
    margin-left: 30px;
  }
  .content_container {
    width: 100%;
  }
  .content_items {
    margin-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_items_item {
    margin-bottom: 30px;
  }
  .content_button {
    margin: 0px 0 100px 0
  }
}

@media screen and (max-width: 560px) {
  .content_button {
    margin-bottom: 40px;
  }
  .promo_items {
    width: 100%;
  }
  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}